@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot');
    src : url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff') format('woff2');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    direction: rtl;
    font-family: 'vazir';
}
.container{
    width: 1200px;
    margin: auto;
}
a{
    color: #fff;
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}

/* Header start */
header{
    width: 100%;
    background-color: #212121;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .auth{
    color: #fff;

}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li {
    margin-left: 40px;
}
header nav ul li a img{
    width: 65px;
}
header nav  a:hover{
    color: crimson;
}
.hamburger-menu{
    display: none;
}
/* Header end */
/* Home-content start */
.home{
    background: linear-gradient(45deg, rgb(118, 214,255), rgb(231, 247, 255));
}
.home .home-content{
    padding: 50px 0;
}
.home .home-content .home-content-title{
    text-align: center;
    margin-bottom: 30px;
}
.home .home-content .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-wrap: wrap;
}
.home .home-content .wrapper .home-content-item {
width: calc(20% - 15px);
background-color: #fff;
text-align: center;
padding: 20px 10px;
border-radius: 25px;
margin-top: 20px;
}
.home .home-content .wrapper .home-content-item img{
    width: 80px;
}
.home .home-content .wrapper .home-content-item a{
    color: #333;
}
/* Home-content end */
/* Home-icon start */
.home .home-icon {
    margin-top: 100px;
    position: relative;
}
.home .home-icon img{
    width: 100%;
    vertical-align: bottom;
}
.home .home-icon .cloud img{
    width: 30px;
}
.home .home-icon .cloud{
    position: absolute;
    left: 15%;
    top:0% ;
    animation: cloudy 3s linear infinite;
}
.home .home-icon .cloud:nth-child(2){
position: absolute;
left: 25%;
top: 5%;
animation: cloudy 5s linear infinite;
}
.home .home-icon .cloud:nth-child(3){
position: absolute;
left: 53%;
top: 3%;
animation: cloudy 7s linear infinite;
}
.home .home-icon .cloud:nth-child(4){
position: absolute;
left:  80%;
top: 5%;
animation: cloudy 9s linear infinite;
}
.home .home-icon .cloud:nth-child(5){
position: absolute;
left: 90%;
top: 15%;
animation: cloudy 4s linear infinite;
}
.home .home-icon .cloud:nth-child(6){
position: absolute;
left: 40%;
top: 2%;
animation: cloudy 13s linear infinite;
}

@keyframes cloudy{
    0%{transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
-o-transform: translateY(15px);}
    25%{
        transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
-o-transform: translateY(-15px);
    }
    75%{
        transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
-o-transform: translateY(15px);
    }
    100%{ transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
}}
/* Home-icon end */
/* Service start */
.service{
    padding: 60px 0;
background: linear-gradient(-183deg, #fff 17%,#ece7e7 0);
}
.service .service-title{
    text-align: center;
    font-size: 18px;
    position: relative;
}
.service .service-title::after{
 position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background: crimson;
right: 50%;
transform: translateX(50%);
}
.service .service-wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.service .service-wrapper .service-item{
    width: calc(25% - 20px);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
padding: 15px;
box-shadow: 0 0 10px rgba(117, 117, 177, .2) ;
}
.service .service-wrapper .service-item img{
    width: 80px;
    margin-top: 15px;
}
.service .service-wrapper .service-item h4{
    padding: 10px 0;
}
.service .service-wrapper .service-item small{
    color: gray;
    line-height: 20px;
}
/* Service end */
/* Partners start */
.partners{
    padding: 40px 0;
}
.partners .partners-title{
    text-align: center;
    font-size: 18px;
    position: relative;
    margin-bottom: 70px;
}
.partners .partners-title::after{
 position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background: crimson;
right: 50%;
transform: translateX(50%);
}


.partners .partners-item{
    text-align: center;
    width: 100%;
    padding: 0 35px;
}
.partners .partners-item img{
    width: 100px;
}
.partners .partners-item h4{
    padding-top: 20px;
}
/* Partners end */
/* Footer start */
footer{
    background-color: #212121;
    padding: 50px 0;
}
footer .footer{
    display: flex;
}
footer .social{
text-align: center;
width: 33%;
}
footer .social h4{
font-size: 18px;
color: #fff;
}
footer .social ul{
display:flex ;
/* align-items: center; */
margin-top: 20px;
justify-content: center;
}
footer .social ul li i{
    color: #fff;
    font-size: 25px;
}
footer .social ul li a{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: all .5s ease-in-out ;
}
footer .social ul li a:hover i{
    color: crimson;
}
footer .social ul li a:hover {
border: 1px dashed crimson;
}

footer .quick-access{
    text-align: center;
    width: 33%;
}
footer .quick-access h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}
footer .quick-access ul li{
    margin-bottom: 7px;
}
footer .quick-access ul li a:hover {
    color: crimson;
}

footer .namad{
    width: 33%;
    text-align: center;
}
/* Footer end */




/* Responsive start */
@media screen and (max-width:1200px){
    .container{
        width: 100%;
    }
    header{
        display: flex;
        padding: 0 50px;
    }
    .home .home-content{
        display: flex;
        flex-direction: column;
    }
    .home .home-content .wrapper{
        padding: 0 50px;
    }
    .home .home-content .wrapper .home-content-item {
    width: calc(33.33% - 20px);
    }
    .home .home-content .wrapper .home-content-item:last-child {
    width: 100%;
    }
    .service .service-wrapper {
flex-wrap: wrap;
padding: 0 50px;
margin-top: 30px;
    }

    .service .service-wrapper .service-item{
width: calc(33.33% - 20px);
margin-top: 30px;
    }
    .service .service-wrapper .service-item:last-child{
        width: 100%;
    }
    }


@media screen and (max-width:768px) {
    .service .service-wrapper .service-item{
        width:calc(50% - 20px) !important;
    }
    .hamburger-menu{
        display: block;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    header nav {
        height: 60px;
    }
   header nav ul{
    position: absolute;
    background-color: #212121;
    top: 60px;
left: 0;
right: 0;
display: block;
opacity: 0;
visibility: hidden;
transition: all .4s ease-in-out;
text-align: center;
padding: 20px 0;
border-top: 1px solid #161616;
}
header nav ul li{
    padding: 10px 0;
}
.active{
opacity: 1;
visibility: visible;}
}

@media screen and (max-width:576px) {
  
    .home .home-content .wrapper .home-content-item {
        width: calc(50% - 20px) !important; 
        }
        .service .service-title{
            margin-bottom: 50px;
        }
        .service .service-wrapper .service-item{
            width:calc(100%);
        }
        footer .footer{
            flex-wrap: wrap;
        }
footer .social{
width: 100%;
}
footer .quick-access{
width: 100%;
margin-top: 40px;
}
footer .namad{
   width: 100%; 
   margin-top: 40px;
}

    }

    @media screen and (max-width:400px) {
        .home .home-content .wrapper .home-content-item {
        width: 100%;
        }
        .home .home-content .wrapper .home-content-item img{
            width: 70px;
        }
    }
    /* Responsive end */
